@import 'base/fonts';

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1761px;
	width: 91.72%;
  margin: 0 auto;
}

.br {
  display: none;
}

.links_hierarchy {
  margin-top: 50px;
  display: flex;
  gap: 10px 6px;
  font-size: 16px;
  a {
    text-decoration: none;
    color: #000;
    &:first-child {
      color: #919191;
    }
  }
}

.pageUp {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 11px;
  width: 57px;
  height: 57px;
  img {
      width: 100%;
  }
}

@import 'blocks/title';
@import "blocks/button";
@import "blocks/header";
@import "blocks/monthly";
@import "blocks/categories";
@import "blocks/arrivals";
@import "blocks/licenses";
@import "blocks/assortment";
@import "blocks/consult";
@import 'media/general';
