@media (max-width:1720px) {

}
@media (max-width:1600px) {
    .categories {
        &_tab {
            &_item {
                font-size: 16px;
            }
            &_row {
                width: calc(24% - 48px);
                padding: 24px;
                &_button {
                    margin-bottom: 0;
                    .button {
                        height: 38px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width:1440px) {

}
@media (max-width: 1200px) {
    .categories {
        &_tab {
            &_item {
                width: calc(49.68% - 26px);
                max-width: 40%;
            }
            &_price {
                &_item {
                    .title_24 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .categories {
        padding-top: 50px;
        &_tab {
            margin-top: 17px;
            gap: 33px;
            &_header {
                justify-content: space-between;
                gap: 12px 0;
            }
            &_item {
                padding: 0 13px;
                max-width: none;
                height: 47px;
                font-size: 14px;
            }
            &_content {
                gap: 12px 3.84%;
            }
            &_row {
                width: calc(48% - 10px);
                padding: 11px 5px;
                &_content {
                    margin-top: 16px;
                }
                &_button {
                    display: flex;
                    margin-top: 12px;
                    .button {
                        height: 25px;
                        width: 100%;
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
            .title_12 {
                margin-top: 4px;
            }
            &_price {
                margin-top: 4px;
                &_item {
                    gap: 8px;
                }
            }
        }
        &_subtab {
            &_header {
                gap: 3px;
            }
            &_item {
                width: 8px;
                height: 8px;
            }
        }
    }    
}
@media (max-width: 768px) {
    .categories {
        &_tab {
            &_row {
                .title_20, .title_24 {
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 480px) {

}
