@media (max-width:1720px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .consult {
        &_modal {
            padding: 16px 12px;
            width: calc(100% - 24px);
            max-width: none;
            height: 95vh;
            max-height: none;
        }
        &_close {
            position: absolute;
            z-index: 5;
            height: 42px;
            top: 14px;
            right: 14px;
        }
        &_wrapper {
            padding: 14px 25px;
            height: calc(100% - 50px);
        }
        &_image {
            display: none;
        }
        &_content {
            width: 100%;
            &_image {
                margin-top: 36px;
                width: 53.56%;
                height: 26px;
            }
        }
        &_form {
            margin-top: 17px;
            gap: 29px;
        }
        .title_28 {
            margin-top: 112px;
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
