@media (max-width:1720px) {
    .title {
        font-size: 19px;
        &_187{
            font-size: 16px;
        }
        &_128{
            font-size: 120px;
        }
        &_91{
            font-size: 84px;
        }
        &_64{
            font-size: 60px;
        }
        &_46{
            font-size: 42px;
        }
        &_32{
            font-size: 29px;
        }
        &_24{
            font-size: 22px;
        }
        &_16{
            font-size: 15px;
        }
        &_12 {
            font-size: 12px;
        }
    }
}
@media (max-width:1600px) {
    .title {
        font-size: 18px;
        &_24 {
            font-size: 21px;
        }
        &_32 {
            font-size: 26px;
        }
        &_64 {
            font-size: 56px;
        }
        &_187{
            font-size: 140px;
        }
        &_128{
            font-size: 112px;
        }
        &_91{
            font-size: 74px;
        }
        &_46{
            font-size: 39px;
        }
        &_16{
            font-size: 14px;
        }
        &_12 {
            font-size: 12px;
        }
    }
}
@media (max-width:1440px) {
    .title {
        font-size: 17px;
        &_24 {
            font-size: 19px;
        }
        &_32 {
            font-size: 24px;
        }

        &_64 {
            font-size: 48px;
        }

        &_187{
            font-size: 120px;
        }
        &_128{
            font-size: 104px;
        }
        &_91{
            font-size: 64px;
        }
        &_46{
            font-size: 36px;
        }
        &_16{
            font-size: 13px;
        }
        &_12 {
            font-size: 12px;
        }
    }
}
@media (max-width: 1200px) {
    .title {
        font-size: 16px;
        &_24 {
            font-size: 18px;
        }
        &_32 {
            font-size: 22px;
        }
        &_64 {
            font-size: 40px;
        }

        &_187{
            font-size: 100px;
        }
        &_128{
            font-size: 94px;
        }
        &_91{
            font-size: 54px;
        }
        &_46{
            font-size: 33px;
        }
        &_16{
            font-size: 12px;
        }
        &_12 {
            font-size: 11px;
        }
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 15px;
        &_24 {
            font-size: 17px;
        }
        &_32 {
            font-size: 20px;
        }
        &_64 {
            font-size: 32px;
        }

        &_187{
            font-size: 88px;
        }
        &_128{
            font-size: 84px;
        }
        &_91{
            font-size: 44px;
        }
        &_46{
            font-size: 30px;
        }
        &_16{
            font-size: 12px;
        }
        &_12 {
            font-size: 10px;
        }
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 14px;
        &_24 {
            font-size: 16px;
        }
        &_32 {
            font-size: 18px;
        }
        &_187{
            font-size: 68px;
        }
        &_128{
            font-size: 74px;
        }
        &_91{
            font-size: 34px;
        }
        &_46{
            font-size: 27px;
        }
        &_16{
            font-size: 11px;
        }
        &_12 {
            font-size: 10px;
        }
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 14px;
        &_187{
            font-size: 48px;
        }
        &_128{
            font-size: 64px;
        }
        &_91{
            font-size: 24px;
        }
        &_46{
            font-size: 24px;
        }
        &_32{
            font-size: 16px;
        }
        &_24{
            font-size: 16px;
        }
        &_16{
            font-size: 10px;
        }
        &_12 {
            font-size: 10px;
        }
    }
}