.assortment {
    margin-top: 80px;
    padding: 53px 0 98px 0;
    min-height: 854px;
    background: linear-gradient(180deg, #f6f6f6 0%, #fafafa 100%);
    &_container {
        width: 87.39%;
    }
    &_wrapper {
        overflow: hidden;
    }
    &_field {
        display: flex;
    }
    &_slide {
        display: flex;
        justify-content: center;
        align-self: end;
        height: 490px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_slide.main {
        height: 854px;
        img {
            width: 100%;
            height: 85.36%;
            object-fit: cover;
        }
        
    }
    &_content {
        position: absolute;
        top: 0;
        padding-left: 34.2%;
    }
    &_controls {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 16px;
        .rotate {
            transform: rotate(180deg);
        }
    }
    &_prev, &_next {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
    }
    &_indicators {
        display: none;
    }
    .container {
        position: relative;
    }
    .title_32 {
        margin-bottom: 26px;
    }
    .title_20 {
        line-height: 200%;
    }
}
