.button {
    display: flex;
	justify-content: center;
	align-items: center;
    height: 56px;
    padding: 3px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
    background: #ff4646;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    &_header {
        width: 277px;
        background: #000;
    }
}
