.categories {
    padding-top: 80px;
    &_tab {
        margin-top: 51px;
        display: flex;
        flex-direction: column;
        gap: 51px;
        &_header {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 12px 1.86%;
        }
        &_item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 39px;
            max-width: 25%;
            height: 56px;
            border-radius: 10px;
            background: #fafafa;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            color: #8a8a8a;
            cursor: pointer;
        }
        &_content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px 1.24%;
        }
        &_row {
            align-self: flex-start;
            width: calc(24% - 48px);
            padding: 31px 24px 64px 24px;
            border-radius: 10px;
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
            background: #fff;
            &_image {
                padding: 63.69% 0 63.69% 0;
                position: relative;
                img {
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
            &_content {
                margin-top: 23px;
            }
            &_button {
                display: none;
                justify-content: center;
                margin-top: 30px;
                margin-bottom: -43px;
                button {
                    width: 82.14%;
                }
            }
            &:hover &_button {
                display: flex;
            }
        }
        .title_12 {
            margin-top: 8px;
            color: #484848;
        }
        &_price {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            &_item {
                display: flex;
                flex-direction: column;
                gap: 11px;
            }
            .red div {
                margin: 0;
                color: #ff4646;
            }
            .black div {
                margin: 0;
                color: #000;
            }
        }
        &_active {
            background: #ff4646;
            color: #fff;
        }
    }
    &_subtab {
        &_header {
            position: absolute;
            bottom: 0;
            display: flex;
            gap: 5px;
        }
        &_item {
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: rgba(72, 72, 72, 0.4);
        }
        &_active {
            background: #000;
        }
    }
    .title_46 {
        text-align: center;
    }
}
