.consult {
    position: relative;
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245,245,245, 0.5);
    &_modal {
        position: absolute;
        padding: 23px 34px;
        width: 84.27%;
        max-width: 1618px;
        height: 95vh;
        max-height: 914px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
    }
    &_close {
        position: absolute;
        z-index: 5;
        height: 70px;
        top: 17px;
        right: 19px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &_wrapper {
        position: relative;
        overflow-y: auto;
        display: flex;
        justify-content: space-between;
        padding: 33px 39px;
        height: calc(100% - 46px);
        border: 1px solid #dbdbdb;
        border-radius: 0 30px 30px 0;
    }
    &_image {
        width: 47.7%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_content {
        width: 48.24%;
        &_image {
            margin-top: 50px;
            height: 52px;
            width: 49.93%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &_form {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        gap: 58px;
        &_inputs {
            display: flex;
            flex-direction: column;
            gap: 29px;
        }
        &_input {
            width: 100%;
            height: 15px;
            padding: 14px 0 18px 0;
            font-weight: 400;
            font-size: 16px;
            color: #9d9d9d;
            border: none;
            border-bottom: 1px solid #9d9d9d;;
            outline: none;
            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                color: #9d9d9d;
            }
        }
    }
    .title_28 {
        margin-top: 112px;
    }
}
