.header{
  margin: 30px 0 0 0;
  &_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo{
      img{
        width: 100%;
      }
    }
    &_content{
      display: flex;
      align-items: center;
      gap: 50px;
      &_timeWork{
        text-align: end;
      }
      &_imgTel{
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &_socials{
        display: flex;
        align-items: center;
        gap: 15px;
        &_social{
          width: 46px;
          height: 46px;
          fill: #ebe9e9;
          box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02), 0 7px 5px 0 rgba(0, 0, 0, 0.03), 0 13px 10px 0 rgba(0, 0, 0, 0.04), 0 22px 18px 0 rgba(0, 0, 0, 0.04), 0 42px 33px 0 rgba(0, 0, 0, 0.05), 0 100px 80px 0 rgba(0, 0, 0, 0.07);
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            filter: grayscale(100%);
          }
          img:hover {
            filter: grayscale(0%);
          }
        }
      }
      &_btn{
        color: #fff;
        border-radius: 10px;
        width: 277px;
        height: 56px;
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
        background: #000;
      }
    }
  }
  &_menu{
    margin: 30px 0 0 0;
    ul{
      display: flex;
      justify-content: end;
      gap: 50px;
      li{
        list-style-type: none;
      }
      a{
        text-decoration: none;
        color: #484848;
      }
    }
  }
}