.monthly {
    padding-top: 120px;
    background: linear-gradient(180deg, #fff 0%, #fafafa 100%);
    &_wrapper-main {
        display: flex;
        gap: 1.36%;
        .mobile {
            display: none;
        }
    }
    &_content {
        position: relative;
        width: 32.4%;
        .title_20 {
            margin-top: 20px;
            color: #8a8a8a;
        }
        .title_28 {
            margin-top: 50px;
        }
        button {
            margin-top: 92px;
            width: 48.77%;
        }
    }
    &_container {
        width: 66.2%;
    }
    &_wrapper {
        overflow: hidden;
    }
    &_field {
        display: flex;
        transition: 0.2s all;
    }
    &_slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        height: 550px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:first-child {
            .monthly_descr {
                left: 24px;
            }
        }
    }
    &_slide.main {
        height: 650px;
    }
    &_controls {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 16px;
        .rotate {
            transform: rotate(180deg);
        }
    }
    &_prev, &_next {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
    }
    &_descr {
        display: none;
        position: absolute;
        left: 48px;
        bottom: 24px;
        padding: 37px 6.4%;
        width: calc(53.71% - 12.8%);
        min-height: 56px;
        backdrop-filter: blur(32px);
        background: #fff;
        &_divider {
            display: inline-block;
            width: 27px;
            height: 2px;
            background: #484848;
        }
        .title_16:first-child {
            display: inline-flex;
            align-items: center;
            gap: 5px;
        }
    }
    &_indicators {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 34.2%;
        margin-top: -27px;
        list-style: none;
    }
    &_dot {
        width: 11px;
        height: 11px;
        border-radius: 100%;
        background: #b6b6b6;
        cursor: pointer;
    }
    &_active {
        position: relative;
        padding: 7px;
        border: 1px solid #000;
        background: none;
        &::before {
            position: absolute;
            z-index: 1;
            content: '';
            margin: auto;
            width: 11px;
            height: 11px;
            border-radius: 100%;
            background: #000;
        }
    }
    &_timer {
        display: flex;
        gap: 30px;
        margin-top: 15px;
        &_block {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .digitalNum {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 76px;
                height: 76px;
                border-radius: 10px;
                box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
                background: #fff;
            }
            .title_24 {
                text-align: center;
            }
        }
    }
}
