.title {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    &_187{
        font-size: 187px;
    }
    &_128{
        font-size: 128px;
    }
    &_91{
        font-size: 91px;
    }
    &_64{
        font-size: 64px;
    }
    &_46{
        font-size: 46px;
    }
    &_32{
        font-size: 32px;
    }
    &_28 {
        font-size: 28px;
    }
    &_24{
        font-size: 24px;
    }
    &_20 {
        font-size: 20px;
    }
    &_16{
        font-size: 16px;
    }
    &_12 {
        font-size: 12px;
    }
}

.light {
	font-weight: 300;
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}

.cofo {
    font-family: "CoFo Sans", sans-serif;
}
.digitalNum{
    font-family: "Digital Numbers Regular", sans-serif;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.volkhov{
    font-family: "Volkhov", sans-serif;
}